@model IEnumerable<StudentServices.Data.Models.Student>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.standard)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.roll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.standard)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { roll = item.roll }) |
                    @Html.ActionLink("Details", "Details", new { roll = item.roll }) |
                    @Html.ActionLink("Delete", "Delete", new { roll = item.roll })
                </td>
            </tr>
        }
    </tbody>
</table>